<div class="login-container">
    <div class="wallet-logo">
      <img src="assets/login-block-icon.png" alt="Wallet Logo" />
    </div>
    <div class="login-box">
      <form>
        <div class="input-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div class="action-links">
          <a href="#">Forgot password?</a>
        </div>
        <button type="submit" class="sign-in-btn">Sign in</button>
      </form>
      <div class="create-account">
        <a href="#">Create an account</a>
      </div>
    </div>
  </div>
  