body {
    margin: 0;
    background-color: #1a1a1a;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.wallet-logo {
    position: absolute;
    left: 21%;
    width: 400px;
    height: 450px;
}

.wallet-logo img {
    width: 100%;
    height: 100%;
}

.login-box {
    background-color: #1e1e1e;
    width: 700px;
    border-radius: 8px;
    padding: 20px;
    text-align: right;
    border: 10px solid #b3b3b3;
}

.login-box h1 {
    margin-bottom: 20px;
    font-size: 36px;
    border: 10px solid #b3b3b3;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    text-align: center;
    padding-left: 45px;
    margin-bottom: 8px;
    font-size: 14px;
}

.input-group input {
    width: 350px;
    height: 26px;
    border-radius: 4px;
    color: #fff;
    background-color: #000;
    border: 1px solid #b3b3b3;
}

.action-links {
    text-align: right;
    margin-bottom: 20px;
}

.action-links a {
    color: #0998ff;
    text-decoration: none;
}

.sign-in-btn {
    width: 355.6px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: #147005;
    color: white;
    font-size: 16px;
}

.create-account a {
    color: #0998ff;
    text-decoration: none;
}

.create-account {
    padding-right: 118px;
    margin-top: 20px;
}