body {
    margin: 0;
    background-color: #1a1a1a;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.login-frame {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 880px;
    height: 450px;
    background-color: #1e1e1e;
    position: relative; /* Added to allow easy centering */
}

.wallet-logo {
    position: absolute;
    left: 0%;
    width: 400px;
    height: 400px;
}

.wallet-logo img {
    width: 100%;
    height: 100%;
}

.login-box-frame {
    background-color: #1e1e1e;
    width: 700px;
    border: #b3b3b3 solid 7px;
}

.login-box {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 20px;
    height: 255px;
    float: right;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

.input-group input {
    width: 350px;
    height: 26px;
    border-radius: 4px;
    color: #fff;
    background-color: #000;
    border: 1px solid #b3b3b3;
}

.action-links {
    display: block;
    text-align: right;
    margin-bottom: 20px;
}

.action-links a {
    color: #0998ff;
    text-decoration: none;
}

.action-links a:hover {
    text-decoration: underline;
}

.sign-in-btn {
    width: 355.6px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: #147005;
    color: white;
    font-size: 16px;
}

.create-account {
    text-align: center;
    margin-top: 20px;
}

.create-account a {
    color: #0998ff;
    text-decoration: none;
}

.create-account a:hover {
    text-decoration: underline;
}