.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog-box {
    background: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-top: 0;
    color: #fff;
}

.form-group {
    margin-bottom: 15px;
    color: #fff;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: #b3b3b3 solid 2px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.toggle-password {
    position: absolute;
    display: flex;
    align-items: center;
    right: 10px;
    top: 57%;
    transform: translateY(-50%);
    cursor: pointer;
}

textarea {
    width: 100%;
    min-height: 50px;
    padding: 8px;
    background-color: #000;
    box-sizing: border-box;
    color: #fff;
    resize: vertical;
    border-radius: 5px;
    border: #b3b3b3 solid 2px;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
}

.form-group a {
    color: red;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #b3b3b3;
}

.save-btn {
    background-color: #147005;
    color: white;
    border: #b3b3b3 solid 1px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}