.search-container {
    display: flex;
    align-items: center;
    background-color: #000;
    border-radius: 5px;
    width: 100%;
    height: 56px;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    color: #fff;
    font-size: 17px;
    margin-left: 8px;
}

.search-input::placeholder {
    color: #b3b3b3;
    font-size: 17px;
}

.search-icon {
    margin-left: 10px;
    color: #b3b3b3;
    font-size: 18px;
}

.clear-icon {
    margin-right: 20px;
    color: #b3b3b3;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s;
}

.clear-icon:hover {
    color: #ff4d4d;
}
