.add-new-pw-container {
    display: flex;
    float: right;
    align-items: center;
    font-size: 17px;
    cursor: pointer;
    color: #b3b3b3;
}

.icon {
    font-size: 17px;
    margin-right: 5px;
    color: inherit;
}

span {
    color: inherit;
}

.add-new-pw-container:hover {
    color: #0998ff;
}