.profile-container {
    display: flex;
    padding: 10px;
    align-items: center;
    margin-right: 10px;
}

.profile {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
}

.profile .icon {
    color: #b3b3b3;
    font-size: 30px;
    margin-right: 5px;
    padding-bottom: 4px;
}

.profile span {
    color: #b3b3b3;
    font-size: 17px;
    padding-bottom: 4px;
}

.dropdown {
    position: absolute;
    top: 45px;
    right: 0;
    min-width: 200px;
    background-color: #2e2d2d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #b3b3b3;
    z-index: 1;
}

.dropdown ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.dropdown ul li {
    padding: 10px;
    border-bottom: 1px solid #1e1e1e;
    cursor: pointer;
}

.dropdown ul li:last-child {
    border-bottom: none;
}

.dropdown ul li:hover {
    background-color: #1e1e1e;
}

.profile-container:hover {
    background-color: #333;
}